<div>
	<h1 class="display-1">Artwork</h1>

	<div class="elem">
		<div class="row">
			<div class="col-md-2">
				<p>
					marionette / 
					digital / 
					3x5
				</p>
			</div>
			<div class="col-md-10">
				<img ng-src="../data/images/art/ArmLines.jpg" class="img-fluid center-block im" alt="Marionette">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">
			<div class="col-md-2">
				<p>
					construction / 
					digital / 
					3x5
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/art/HandCut.jpg" class="img-fluid center-block im" alt="Construction">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					put your hands together / 
					digital / 
					5x3
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/art/HandsTogether.jpg" class="img-fluid center-block im" alt="Hands Together">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					flow catcher / 
					digital / 
					3x5
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/art/Collage.jpg" class="img-fluid center-block im" alt="Collage">
			</div>
		</div>
	</div>
</div>

