<div>
	<h1 class="display-1">Design</h1>

	<div class="elem">
		<div class="row">
			<div class="col-md-2">
				<p>
					BOLD - Women In Tech / 
					uiuc student organization
				</p>
			</div>
			<div class="col-md-10">
				<img ng-src="../data/images/logos/bold.jpg" class="img-fluid center-block im" alt="BOLD Logo">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">
			<div class="col-md-2">
				<p>
					Evan Richter / 
					personal logo
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/logos/ER.png" class="img-fluid center-block im" alt="Evan Richter Logo">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Gradu8 / 
					web application
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/logos/gradu8.jpg" class="img-fluid center-block im" alt="Gradu8 Logo">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Stone Glass / 
					3d printing company 
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/logos/StoneGlassLogo.jpg" class="img-fluid center-block im" alt="Stone Glass Logo">
			</div>
		</div>
	</div>
</div>

