<div>
	<h1 class="display-1">Photography</h1>

	<div class="elem">
		<div class="row">
			<div class="col-md-2">
				<p>
					Tree / 
					Kickapoo State Park 
				</p>
			</div>
			<div class="col-md-10">
				<img ng-src="../data/images/photography/Tree.jpeg" class="img-fluid center-block im" alt="Tree">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">
			<div class="col-md-2">
				<p>
					Flowers / 
					University of Illinois at Urbana-Champaign
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Flowers.jpeg" class="img-fluid center-block im" alt="Flowers">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Plains / 
					Curtis Apple Orchards 
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Plains.jpeg" class="img-fluid center-block im" alt="Plains">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Family / 
					Gulf Shores, Alabama
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/ShoreFamily.jpeg" class="img-fluid center-block im" alt="Shore Family">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Splash / 
					Gulf Shores, Alabama
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Splash.jpeg" class="img-fluid center-block im" alt="Splash">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Frothy / 
					Cocoa Beach, Florida
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Frothy.jpeg" class="img-fluid center-block im" alt="Frothy">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Entrance / 
					Kickapoo State Park 
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Entrance.jpeg" class="img-fluid center-block im" alt="Entrance">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Branch / 
					Kickapoo State Park 
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Branch.jpeg" class="img-fluid center-block im" alt="Branch">
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">	
			<div class="col-md-2">
				<p>
					Boating / 
					Kickapoo State Park 
				</p>
			</div>
			<div class="col-md-10">
				<img src="../data/images/photography/Boating.jpeg" class="img-fluid center-block im" alt="Boating">
			</div>
		</div>
	</div>
</div>

