<div>
	<h1 class="display-1">Videos</h1>
	</br>
	<div class="elem">
		<div class="row">
			<div class="col-md-3">
				<h2>
					Potted Meat Sketch Comedy
				</h2>
				<p>
					I am the president of Potted Meat, the only sketch comedy group at UIUC. Through it I have written, directed, and acted in many comedic shorts.
					</br>
					<a href="https://www.youtube.com/user/PottedMeatComedy">click here or on the image to check us out!</a>
				</p>
			</div>
			<div class="col-md-9">
				<a href="https://www.youtube.com/user/PottedMeatComedy">
					<img src="../data/images/videoimages/PottedMeatLogoBanner.jpg" class="img-fluid center-block im" alt="Potted Meat">
				</a>
			</div>
		</div>
	</div>

	<div class="elem">
		<div class="row">
			<div class="col-md-3">
				<h2>
					CA$H
				</h2>
				<p>
					Sketch Comedy group formed in 2012. Tim+Eric inspired, short sketches bound up into full length episodes. I directed it, wrote a healthy portion of it as well.
					</br>
					<a href="https://www.youtube.com/user/CashDollarsMoney">click here or on the image to check us out!</a>
				</p>
			</div>
			<div class="col-md-9">
				<a href="https://www.youtube.com/user/CashDollarsMoney">
					<img src="../data/images/videoimages/cash.jpeg" class="img-fluid center-block im" alt="CA$H">
				</a>
			</div>
		</div>
	</div>

</div>

