<div>
	<h1 class="display-1">Writing</h1>
	</br>
	<div class="elem">
		<div class="row">
			<div class="col-md-3">
				<h4>Articles and other things I've written.</h4>
			</div>
			<div class="col-md-9">
				<h3>
					<a href="#/article_planes"> 
						10 Things They Don’t Tell You When You Go To School To Be One Of Those People Who Wave Lights Around At Planes
					</a>
				</h3>
				</br>
				<h3>
					<a href="#/article_quotes"> 
						Computer-Generated Inspirational Quotes
					</a>
				</h3>
			</div>
		</div>
	</div>


</div>

